@import "config";@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,500&display=swap");
#display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 209, 209);
  min-height: 100vh;
  height: 100%;
}

#drum-machine {
  border: 5px solid black;
  border-radius: 8px;
  background-color: #e3e6e3;
  width: 55%;
  min-width: 400px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-wrap: wrap;
}

.appArea {
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  width: 350px;
  // min-width: 320px;
  padding-left: 2rem;
}

.displayArea {
  width: 50%;
  border: 3px dotted blue;
  height: 100%;
}
.drum-pad {
  border: 3px solid #663e1d;
  border-radius: 8px;
  margin: 0.5rem;
  width: 80px;
  height: 70px;
  background-color: #d8d7d3;
  font-family: "Zilla Slab", serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.drum-pad:active {
  transform: translate(0, 2px, 5px);
}

.displayScreen {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.4rem;
  height: 35px;
  text-align: center;
  width: 80%;
}

// toggler
.inner-container {
  width: 65px;
  height: 30px;
  background-color: rgb(190, 190, 190);
  position: relative;
  border-radius: 15px;
  transition: all 200ms;
  margin: 1rem;
  &:hover {
    box-shadow: 0 0 8px 1px rgb(169, 169, 250);
  }
}

#slider {
  background-color: white;
  width: 26px;
  height: 24.5px;
  margin: 3px;
  border-radius: 50%;
  transition: 300ms;
}
.activeclass .inner-container {
  background-color: rgba(35, 77, 216, 0.726);
}

.activeclass span {
  transform: translate(34px, 0px);
}
