@import "config";

.appContainer {
  border: 2px solid red;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
#drum-machine {
  border: 4px solid blue;
  width: auto;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
}
#display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.drum-pad {
  border: 2px solid red;
  width: 80px;
  height: 60px;
}
.clip {
  border: 3px solid green;
}
h3 {
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid blue;
  color: black;
}
